scikit-image
numpy
pandas
scipy
matplotlib
fiona
opencv-python
shapely
imagecodecs
tqdm
osmnx
torchsummary
geopandas==0.6.3
torch 
torchvision 
setuptools==57.5.0
tensorboardX
tensorboard
networkx==2.8
numba
cmake
utm
intel_extension_for_pytorch
tiledb
intel-openmp